<h2>are you  sure you want to delete <%=@brand.name() %> </h2>



  <h3>  Delete <%=@brand.name()%> </h3>
  <form action="/brands/<%= @brand.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button type="submit">Delete Brand</button>
  </form>
