<p>Add an brand :</p>

  <form action="/brands" method="post">
    <label for="name">Brand's name:</label>
    <input id="name" name="name" type="text" class="rq-form-element" autofocus/>

    <button type="submit">Add brand</button>
  </form>

  <div class="container">
    <a href="/"><button class="button btn">Return Home</button></a>
    <a href="/top"><button class="button btn">Start Home</button></a>
  </div>
