<h1><%= @brand.name() %></h1>

<hr>

<% if @brand.stores().any?() %>

    <h3>Stores selling <%= @brand.name() %>:</h3>

    <ul>
      <% @brand.stores().each() do |brand| %>
        <li><%= brand.name() %></li>
      <% end %>
    </ul>
  <% else %>

    <p>There are no Stores selling <%= @brand.name() %> yet!
  <% end %>

<hr>

  <div class="container">
    <a href="/"><button class="button btn">Return Home</button></a>
    <a href="/brands"><button class="button btn">All Brands</button></a>
    <a href="/top"><button class="button btn">Start Home</button></a>
  </div>
