<p>Add a store to the mall:</p>

  <form action="/stores" method="post">
    <label for="name">Store's name:</label>
    <input id="name" name="name" type="text" class="rq-form-element" autofocus/>

    <button type="submit">Add store</button>
  </form>

  <div class="container">
    <a href="/"><button class="button btn">Return Home</button></a>
    <a href="/start"><button class="button btn">Start Home</button></a>
  </div>
