<div class = "row">
<div class = "col-md-6">
  <a href="/stores"><button style="margin-top:25%; margin-left:45%; padding:1%; " class="button btn-success">Stores available</button></a>
</div>

<div class = "col-md-6">
  <a href="/brands"><button style="margin-top:25%; margin-left:45%; padding:1%; "class="button btn-primary"> Brands available</button></a>
</div>
</div>

  
